/* ===============================
   ADMIN DASHBOARD CSS
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        135deg,
        #4f46e5,
        #9333ea,
        #ec4899
    );
    padding: 30px;
}

/* NAVBAR */
.admin-navbar {
    background: linear-gradient(to right,#7f5cff,#ff7ad9);
    padding: 15px 25px;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

/* LOGOUT */
.logout-btn {
    background: red;
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

/* DASHBOARD CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 25px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.card h2 {
    font-size: 36px;
    margin-top: 10px;
}

/* TABLE */
.table-box {
    background: white;
    padding: 20px;
    border-radius: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: linear-gradient(to right,#6a11cb,#2575fc);
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f2f2ff;
}
